create table {spatial_weather_table_output_name} as
select {spatial_speed_table_name}.*,
AVG(AveT) as AveT, AVG(Precip) as AveP, AVG(AveWindSpeed) as AveW
from {spatial_speed_table_name}
left join
weather_db.pid_wid
on {spatial_speed_table_name}.pennshids = weather_db.pid_wid.pennshids
left join
weather_db.weather
on weather_db.pid_wid.ID = weather_db.weather.ID
AND 
weather_db.weather.DateTime 
BETWEEN 
datetime({spatial_speed_table_name}.wztime_divided_stamp_controlled, '-3.5 hours') 
AND
datetime({spatial_speed_table_name}.wztime_divided_stamp_controlled , '-0.5 hours')
GROUP BY {spatial_speed_table_name}.series,
        {spatial_speed_table_name}.sequence_num,
        {spatial_speed_table_name}.control,
        {spatial_speed_table_name}.wztime_divided_stamp_controlled;